* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-url: url(./images/light-mode.png);
    --ff-primary: "Roboto", sans-serif;
    --bc-primary: hsl(0, 0%, 100%);
    --fc-primary: hsl(240, 6%, 21%);
    --fc-second: hsl(240, 9%, 89%);
    --fc-third: hsl(194, 97%, 31%);
}

.dark {
    --bg-url: url(./images/dark-mode.png);
    --bc-primary: hsl(240, 5%, 7%);
    --fc-primary: hsl(0, 0%, 100%);
    --fc-second: hsl(240, 6%, 17%);
    --fc-third: hsl(263, 76%, 16%);
}

.controlTheme {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#toggle {
    background: var(--bg-url) no-repeat transparent;
    width: 3.6rem;
    height: 3.6rem;
    border: none;
    cursor: pointer;
    margin: 6rem 6rem 0rem 0rem;
}

body {
    font-size: 1.6rem;
    font-family: var(--ff-primary);
    background: var(--bc-primary);
    height: 100vh;
}

body .enable button svg path {
    fill: var(--fc-primary);
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 68rem;
    width: 82.2rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 12.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fc-primary);
    animation: topDown 700ms backwards;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    animation: topDown 700ms 350ms backwards;
}

.controls button,
.functions button {
    background: none;
    border: none;
    cursor: pointer;
}

.hiden {
    display: none;
}

.functions {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    animation: downTop 700ms backwards;
}

.functions button {
    background: var(--fc-second);
    height: 15.2rem;
    width: 13.8rem;
    border-radius: 2.4rem;
}

.functions svg {
    margin-top: -23rem;
    margin-inline: auto;
}

.functions .enable button {
    background: var(--fc-third);
}

.enable button svg path {
    fill: var(--bc-primary);
}

button svg path {
    fill: var(--fc-primary);
}

.forest,
.rain,
.coffee,
.fireplace {
    position: relative;
}

#volumeForest,
#volumeRain,
#volumeCoffee,
#volumeFireplace {
    position: absolute;
    z-index: 1;
    margin: +11rem 0rem 0rem -11.5rem;
}

input[type="range"] {
    width: 90px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 5px;
    background: var(--fc-primary);
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    height: 16px;
    width: 16px;
    background: var(--fc-primary);
    border-radius: 50%;
    top: calc(50% - 16px / 2);
}

.enable input[type="range"]::-webkit-slider-runnable-track,
.enable input[type="range"]::-webkit-slider-thumb {
    background: var(--bc-primary);
}

.dark .enable input[type="range"]::-webkit-slider-runnable-track,
.dark .enable input[type="range"]::-webkit-slider-thumb {
    background: var(--fc-primary);
}

input[type="range"]::-moz-range-track {
    height: 4px;
    border-radius: 5px;
    background: var(--fc-primary);
}

input[type="range"]::-moz-range-thumb {
    position: relative;
    height: 16px;
    width: 16px;
    border: none;
    background: var(--fc-primary);
    border-radius: 50%;
    top: calc(50% - 16px / 2);
}

.enable input[type="range"]::-moz-range-track,
.enable input[type="range"]::-moz-range-thumb {
    background: var(--bc-primary);
}

.dark .enable input[type="range"]::-moz-range-track,
.dark .enable input[type="range"]::-moz-range-thumb {
    background: var(--fc-primary);
}

@keyframes topDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes downTop {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        gap: 19.2rem;
        margin-top: 9rem;
        height: 33.6rem;
    }
}